@page "/chat"
@using System.Threading
@using Microsoft.Agents.AI
@using Microsoft.Agents.AI.Workflows
@using Microsoft.Extensions.AI
@using System.Diagnostics
@using Microsoft.Extensions.Hosting
@rendermode InteractiveServer
@inject IHostEnvironment environment
@inject Workflow workflow

<PageTitle>Chat</PageTitle>

<h1>Chat</h1>

<div class="chat">
    @foreach (var message in Messages)
    {
        if (message.Role == ChatRole.User)
        {
            <p class="user">@message.Text</p>
        }
        else if (message.Role == ChatRole.Assistant)
        {
            <pre class="assistant">@message.Text</pre>
        }
        else
        {
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <i class="bi bi-exclamation-triangle-fill"></i>
                <div>@message.Text</div>
            </div>
        }
    }
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" @bind-value="@Draft" @onkeyup="@OnDraftKeyUp">
    <button class="btn btn-outline-secondary" type="button" @onclick="@OnSend">Send</button>
</div>

@code {
    private ActivitySource activitySource = null!;

    public List<ChatMessage> Messages { get; set; } = [];
    public string Draft { get; set; } = "";
    private AgentThread thread = null!;

    protected override async Task OnInitializedAsync()
    {
        activitySource = new(environment.ApplicationName);
    }

    public async Task OnDraftKeyUp(KeyboardEventArgs e)
    {
        if (e.Code is "Enter")
        {
            await SendChatMessage();
        }
    }

    public async Task OnSend()
    {
        await SendChatMessage();
    }

    public async Task SendChatMessage()
    {
        if (Draft is "")
        {
            return;
        }

        using var activity = activitySource.StartActivity("Chat");

        Messages.Add(new(ChatRole.User, Draft));
        Draft = "";

        await using var run = await InProcessExecution.StreamAsync(
            workflow,
            Messages.Select(c => new ChatMessage(c.Role, c.Text)).ToArray()
        );
        await run.TrySendMessageAsync(new TurnToken(emitEvents: true));
        var responseIndex = Messages.Count;
        Messages.Add(new(ChatRole.Assistant, ""));
        await foreach (var e in run.WatchStreamAsync())
        {
            if (e is AgentRunUpdateEvent { Update: { AuthorName: "chef", Text: var text } })
            {
                Messages[responseIndex] = new(ChatRole.Assistant, Messages[responseIndex].Text + text);
                StateHasChanged();
            }
        }
    }
}
